
LabmasterAdminapp/.vs/config/applicationhost.config
LabmasterAdminapp/.vs/LabmasterAdminapp/v15/.suo
LabmasterAdminapp/.vs/LabmasterAdminapp/v15/Server/sqlite3/db.lock
*.ide
*.ide-shm
*.ide-wal
*.dll
*.targets
*.pdb
*.xml
*.config
*.exe
*.rsp
*.cache
*.csdl
*.msl
*.ssdl
*.CopyComplete
LabmasterAdminapp/LabmasterAdminapp/obj/Debug/LabmasterAdminapp.csproj.FileListAbsolute.txt
LabmasterAdminapp/LabmasterAdminapp/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
LabmasterAdminapp/LabmasterAdminapp/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
LabmasterAdminapp/LabmasterAdminapp/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
